# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Build project
agents/build
dist/
research/
alg_pro.pdf
alg_pro_source.md
deep-research.md
final_dissertation_plan.md

# Environment
env/
techtracker_env/
venv/
env.local/
.venv/
.env

# IDE
.vscode/
.idea/

# Node modules (для Vue)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

.env.local
