[DEFAULT]
# Пример: http://server:8000/api/
ApiUrl = {#ApiUrl}
Token = {#Token}

# Отправлять serial_number клиента (обычно не требуется)
SendSerial = {#SendSerial}
SerialNumber = {#SerialNumber}

# Как часто обновлять карту принтеров -> IP (сек)
PrinterMapRefreshSec = {#PrinterMapRefreshSec}
