[DEFAULT]
ApiUrl = http://127.0.0.1:8000/api/
Token =
SerialNumber = AUTO
LoopInterval = 5
MetricsBatchInterval = 60
VmSyncInterval = 60
RetentionDays = 365
PingTarget =
StorcliPath =
MetricsQueueMax = 5000
MetricsDebug = 0
ErrorPauseSeconds = 300
